<div style="background: rgb(10,106,88);
background: linear-gradient(178deg, rgba(10,106,88,1) 10%, rgba(20,181,150,1) 36%, rgba(20,181,150,1) 75%);">
<div>
  <nav class="navbar navbar-expand-lg">
    <a href="#" class="navbar-brand">
      <img src="https://i.imgur.com/hbupM07.png" alt="Logo" class="logo" style="width: 170px; height: 40px;">
     <style>
h3 { font-family:"Trebuchet Ms";
	 text-align: center;
}
</style>     
      <h3></h3>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="cursos" class="nav-link">     <style>
h6 { font-family:"Arial";
     font-size: 15px;
     font-weight: bold;
     }
</style>     
      <h6>    CURSOS </h6>

    </a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link"> <style>
          h6 { font-family:"Trebuchet Ms"; }
		</style>     
      <h6>    AÑADIR </h6>
		 </a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="background:#E5E8E8 " class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

